:root{
    --dark-color:#1b0921;
    --mid-dark:#361142;
    --light-color:rgb(137, 202, 228);
    --extra:rgba(33, 195, 152, 0.685);
}
button{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.4em 1em;
    font-size: 1em;
    font-weight: 500;
    background-color:var(--light-color);
    cursor: pointer;
    transition: ease-out 0.1s;
}
button:hover{
    box-shadow: 2px 2px 2px var(--light-color);
    background-color: var(--dark-color);
    transition: ease-in 0.1s;
    color: var(--light-color);
}
body{
    display: flex;
    justify-content: center;
    width:100vw;
    min-height: 100vh;
    max-width: 600px;
    margin:auto;
    background-color: rgb(52, 29, 5);
}
// @media only screen and (max-width: 767px) {
//     body {
//         margin: 0;
//     }
// }
.formContainer{
    vertical-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height:90vh;
    .formWrapper{
        .logo{
            color:var(--dark-color);
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .title{
            font-size: smaller;
        }
        span{
            display: flex;
            justify-content: center;
            color:red;
            font-size: 12px;
            
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border-radius: 10px;
        background-color: var(--extra);
        padding:20px 60px;
        form{
            display: flex;
            gap:10px;
            flex-direction: column;

            input{
                padding:10px;
                border-radius: 10px;
                border:none;
                border-bottom: 1px solid blue;
                outline:none;
            }
            label{
                text-align: center;
    
                gap:5px;
                color:aqua;
                display:flex;
                flex-direction: row;
                .pic{
                    font-weight: 100;
                    aspect-ratio: 1;
                    color:var(--dark-color)
                }
                .picDesc{
                    max-width: 150px;
                }
            }
            
        }

    }
}
.homePage{
    width: 100vw;
    min-width: 300px;
    max-width: 600px;
    display: flex;
    height: 100vh;
    border-radius: 20px;
    flex-direction: column;
    
    .navbar{
        background: rgb(27,9,33);
background: linear-gradient(45deg, rgba(27,9,33,1) 11%, rgba(54,17,66,1)) ;
        display:flex;
        flex-direction: row;
        height:20px;
        padding: 10px;
        align-items: center;
        border-bottom: 1px solid white;
        justify-content: space-between;
        .roomName{
            
            background-color:rgb(131,58,180);
            background-color: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
            text-transform: capitalize;
            font-weight: 800;
        }
    }
    .chatInput{
        margin:0px;
        justify-content: space-between;
        display:flex;
        flex-direction: row;
        color:black;
        background-color: white;
        padding:10px;
        margin:0;
        input,textarea{
            width:80%;
            background-color: white;
            border: 0px;
            color:black;
            outline:none;
        }
        .inputFunction{
            display: flex;
            flex-direction: row;
            gap: 10px;
            cursor: pointer;
            label{
                cursor: pointer;
            }
        }
    }
    .chatSection{
        overflow: auto;
        display: flex;
        flex-direction: column-reverse;
        gap:5px;
        padding:10px;
        height:calc(100%);
        background: rgb(238,174,202);
background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
        audio{
            height:30px;
         }
        
        .chat{
            display: flex;
            flex-direction:column;
            width: fit-content;
            max-width: 80%;
            word-wrap:break-word;
            gap:2px;
            .chatUser{
                color: var(--dark-color);
                padding: 0px 5px 0px 5px;
                width: fit-content;
                border-radius: 10px;
                font-size: 10px;
                background-color:gainsboro;
            }
            .chatMessage{
                padding:4px 10px;
                border-radius: 15px 15px 15px 0px;
                background-color: var(--dark-color);
            }
            .imageContainer{
                width:300px;
                border-radius: 20px;
            }


        }
        .chatR{
            display: flex;
            flex-direction: column;
            margin:0 0 0 auto;
            word-wrap:break-word;
            width:fit-content;
            max-width: 80%;
            gap:2px;
            .chatUser{
                color: var(--dark-color);
                padding: 0px 5px 0px 5px;
                border-radius: 10px;
                font-size: 10px;
                background-color:gainsboro;
                width: fit-content;
                margin:0 0 0 auto;
            }
            .chatMessage{
                margin:0 0 0 auto;
                padding:4px 10px;
                border-radius: 15px 15px 0px 15px;
                background-color: var(--extra);
            }
            .imageContainer{
                width:300px;
                border-radius: 20px;
            }
        }
        
    }
}
.enterName{
    flex-direction: column;
    margin-top: 200px;
    gap:10px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height:200px;
    background-color: var(--dark-color);
    form{
        display: flex;
        flex-direction: column;
        gap:10px;
    }

}